[ghq]
root = ~/go/src
[user]
name = lilpacy
email = revivedtomorrow@gmail.com
[core]
autocrlf = input
quotepath = false
sshCommand = ssh -i ~/.ssh/id_ed25519
[alias]
ac = !git add -A && aicommits -a
ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
[pull]
ff = only
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
